.select-control {
	position: relative;
	height: 36px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 14px 0 6px;
	background-color: rgba(14, 14, 17, 1);
	border: 1px solid rgba(57, 62, 71, 1);
	border-radius: 6px;
	cursor: pointer;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0%;
}

select.select-control__select {
	width: 100%;
	height: 100%;
	background-color: transparent;
	color: rgba(157, 166, 181, 0.6);
	border: none;
	appearance: none;
	font-family: 'Paloseco', Arial, sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.select-control__arrow {
	position: absolute;
	top: 50%;
	right: 12px;
	pointer-events: none;
	transform: translateY(-50%);
}
