.flow-option {
	width: auto;
	height: auto;
	background-color: #151518;
	border-radius: 12px;
	border: 1px solid #393e47;
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
	color: white;
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	@media (max-width: 768px) {
		padding: 16px 20px;
	}
}

.flow-option__header {
	width: 95%;
}

.flow-option__header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 7px;
	width: 100%;
	gap: 20px;
	overflow: visible;

	@media (max-width: 768px) {
		padding-top: 0px;
		margin-bottom: 11px;
	}
}

.flow-option__header-controls-desktop {
	display: flex;
	gap: 20px;

	@media (max-width: 768px) {
		display: none;
	}
}

.flow-option__header-controls-mobile {
	display: none;

	@media (max-width: 768px) {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		height: auto;
		gap: 8px 16px;
		margin-bottom: 16px;
	}
}

.mobile {
	display: none;

	@media (max-width: 768px) {
		display: inline;
	}
}

.desktop {
	display: inline;

	@media (max-width: 768px) {
		display: none;
	}
}

.flow-option__title {
	font-size: 18px;
	color: white;
	margin: 0;
	display: flex;
	align-items: center;
	gap: 10px;
	flex-grow: 1;
}

.flow-option__icon {
	color: #616774;
	transition: color 0.3s ease;
	cursor: pointer;
	outline: none;

	@media (max-width: 768px) {
		min-width: 36px;
		min-height: 36px;
	}
}

.flow-option__icon:focus {
	outline: none;
}

.flow-option__icon:hover {
	color: #ffffff;
}

.flow-option__divider {
	width: 100%;
	background-color: #393e47;
	margin: 10px auto;
	border: none;
	border-top: 1px solid #393e47;

	@media (max-width: 768px) {
		display: none;
	}
}

.flow-option__icon:focus {
	outline: none;
}

.flow-option__icon:hover {
	color: #ffffff;
}

.flow-option__divider {
	width: 100%;
	background-color: #393e47;
	margin: 10px auto;
	border: none;
	border-top: 1px solid #393e47;
}

@supports (-webkit-touch-callout: none) {
	.flow-option {
		-webkit-transform: translateZ(0);
	}
}
