.sidebar ul {
    margin-top: 100px;
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 5px;
}

.sidebar a {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    width: 128px;
    height: 36px;
    top: 170px;
    left: 48px;
    color: #A9A9A9;
    padding: 0px 10px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.sidebar a.active {
    background-color: #2A2A30;
    color: white;
}
.sidebar a:hover {
    background-color: white;
    color: black;
}

.sidebar a svg path {
    stroke: white;
}

.sidebar a.active svg path {
    stroke: currentColor;
}

.sidebar a:hover {
    background-color: white;
    color: black;
}

.sidebar a:hover svg path {
    stroke: black;
}
