/* components/ForMetricsPage/Sidebar.css */

.sidebar ul {
    margin-top: 100px;
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 5px;
}

.sidebar a {
    display: flex; /* Flexbox для выравнивания иконки и текста */
    align-items: center; /* Выравнивание по вертикали */
    gap: 10px;
    font-size: 15px;
    width: 128px;
    height: 36px;
    top: 170px;
    left: 48px;
    color: #A9A9A9;
    padding: 0px 10px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.sidebar a.active {
    background-color: #2A2A30; /* Фон для активного элемента */
    color: white; /* Цвет текста для активного элемента */
}
.sidebar a:hover {
    background-color: white; /* Фон становится белым при наведении */
    color: black; /* Текст становится чёрным при наведении */
}

.sidebar a svg path {
    stroke: white; /* Иконка белая по умолчанию */
}

/* Активный элемент */
.sidebar a.active svg path {
    stroke: currentColor; /* Иконка меняет цвет на цвет текста, который белый */
}

/* Элемент при наведении */
.sidebar a:hover {
    background-color: white; /* Фон становится белым при наведении */
    color: black; /* Текст становится чёрным при наведении */
}

/* Иконка при наведении */
.sidebar a:hover svg path {
    stroke: black; /* Иконка становится чёрной при наведении */
}
