/* Контейнер всего компонента */
.flow-option-container {
    width: 100%;
    background-color: #151518;
    border-radius: 12px;
    border: 1px solid #393E47;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    color: white;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Верхний блок с заголовком и переключателем */
.flow-option-header-container {
    display: flex;
    justify-content: space-between; /* Распределение заголовка и переключателя */
    align-items: center; /* Выравнивание по вертикали */
    padding-top: 7px;
    width: 100%; /* Ширина контейнера по всей странице */
}

.graph{
    /*padding-bottom: 40px;*/
}

/* Стили для заголовка */
.flow-option-header-container h2 {
    font-size: 18px;
    color: white;
    margin: 0; /* Убираем отступы */
    display: flex;
    align-items: center;
    gap: 10px;
    flex-grow: 1; /* Занимает оставшееся пространство */
}

/* Контейнер для двух выпадающих списков */
.asset-option-buttons {
    position: relative;
    width: 160px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
}

/* Стили для выпадающего списка */
.asset-option-buttons select {
    width: 100%;
    height: 100%;
    padding: 0 36px 0 15px; /* Увеличьте правый padding для места под стрелку */
    background-color: #151518;
    color: #9CA3AF;
    border: 1px solid #393E47;
    border-radius: 8px;
    appearance: none;
    font-family: 'JetBrains Mono', monospace;
    font-size: 14px;
    cursor: pointer;
    text-align: left;
}

/* Стили для стрелки */
.custom-arrow {
    position: absolute;
    right: 12px; /* Расположим стрелку справа */
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.custom-arrow svg {
    width: 12px;
    height: 8px;
    fill: none;
    stroke: #667085;
    stroke-width: 1.66667;
    stroke-linecap: round;
    stroke-linejoin: round;
}

/* Разделительная линия под заголовком и переключателем */
.flow-option-dedicated {
    width: 1042px; /* Установите ширину разделителя на половину контейнера */
    background-color: #393E47;
    margin: 10px auto; /* Центрирует линию относительно контейнера */
    border: none;
    border-top: 1px solid #393E47;
}


