
/* Контейнер всего контента */
.flow-option-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 20px;
}

/* Блоки с метриками */
.metrics-option {
    display: flex;
    flex-direction: column;
    flex: 1;
}

/* Общие стили для каждого блока метрик */
.metric-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.metric-option-label {
    color: #F2F2F2; /* Цвет текста */
    display: flex; /* Для выравнивания по горизонтали */
    align-items: center; /* Выравнивание по вертикали */
    font-family: 'Paloseco', sans-serif; /* Шрифт Paloseco, резервный sans-serif */
    font-size: 14px; /* Размер текста */
    padding-bottom: 0;
}


.metric-option-label::before {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}

/* Цветовые индикаторы для каждого типа метрик */
.call-buys .metric-option-label::before {
    background-color:  #9D78F1; /* Зеленый градиент для Call Buys */
}

.call-sells .metric-option-label::before {
    background-color: #5DDC86; /* Зеленый градиент для Call Buys */
}

.put-buys .metric-option-label::before {
    background-color: #9B21A2; /* Зеленый градиент для Call Buys */
}

.put-sells .metric-option-label::before {
    background-color: #DE495A; /* Зеленый градиент для Call Buys */
}

/* Стиль для диаграммы */
.chart-option {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: transparent;
}

.metric-option-variable{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-left: 90px;
    width: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
}

.metric-option-value {
    font-size: 11px;
    font-weight: bold;
    font-family: 'JetBrains Mono', monospace;
    color: #A2A2A2;
}

.metric-option-percentage{
    font-size: 12px;
    font-weight: bold;
    font-family: 'JetBrains Mono', monospace;
    color: #BEEBD8;
    background-color: #508D69;
    border: 1px solid #1F5535;
    border-radius: 5px;
    padding: 3px;
}

p.metric-option-label {
    margin-bottom: 0;
}

.metric-option.call-sells{
    padding-right: 150px;
}

.metric-option.put-sells{
    padding-right: 150px;
}
