/*Работа над диаграммой и метриками выпадающими*/

/* Контейнер всего контента */
.flow-option-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 20px;
}

/* Блоки с метриками */
.metrics-option {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}

/* Общие стили для каждого блока метрик */
.metric-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.metric-option-label {
    color: #F2F2F2; /* Цвет текста */
    display: flex; /* Для выравнивания по горизонтали */
    align-items: center; /* Выравнивание по вертикали */
    font-family: 'Paloseco', sans-serif; /* Шрифт Paloseco, резервный sans-serif */
    font-size: 14px; /* Размер текста */
}


.metric-option-label::before {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}

/* Цветовые индикаторы для каждого типа метрик */
.call-buys .metric-option-label::before {
    background-image: linear-gradient(to right, #9D78F1, #362D4B); /* Зеленый градиент для Call Buys */
}

.call-sells .metric-option-label::before {
    background-image: linear-gradient(to right, #0D866C, #5DDC86); /* Зеленый градиент для Call Buys */
}

.put-buys .metric-option-label::before {
    background-image: linear-gradient(to right, #7A59C4, #9B21A2); /* Зеленый градиент для Call Buys */
}

.put-sells .metric-option-label::before {
    background-image: linear-gradient(to right, #DE495A, #881C72); /* Зеленый градиент для Call Buys */
}

.metric-option-value {
    font-size: 18px;
    font-weight: bold;
    font-family: 'JetBrains Mono', monospace;
    color: #A2A2A2;
}

/* Стиль для диаграммы */
.chart-option {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: transparent;
}

