.metrics-page-container {
    display: flex;
    height: 100vh; /* Контейнер растянут по всей высоте окна */
}

.sidebar {
    width: 256px;
    background-color: black;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    height: 100vh;
    position: fixed;
    top: 0; /* Ставим top: 0, чтобы сайдбар начинался с самого верха */
}

.content {
    margin-left: 250px; /* This margin should match the width of the sidebar */
    width: calc(100% - 250px); /* Ensure the content takes the rest of the space */
    padding: 20px;
    overflow: auto; /* Включаем прокрутку */

}

.divider {
    width: 2px;
    background-color: #393E47;
    height: 100vh; /* Высота на всю страницу */
    position: fixed; /* Разделитель будет фиксирован вместе с сайдбаром */
    left: 236px; /* Размещаем его справа от сайдбара */
    top: 0; /* Убедимся, что разделитель начинается от верха страницы */
    z-index: 1; /* Разделитель будет поверх остальных элементов */
}



/*!* Эффекты при наведении *!*/
/*.rounded-container:hover, .full-width-container:hover {*/
/*    transform: translateY(-5px);*/
/*    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.15);*/
/*}*/

/* Адаптивный текст внутри карточек */
/*.rounded-container > *, .full-width-container > * {*/
/*    flex-grow: 1;*/
/*    width: 100%;*/
/*    font-size: clamp(1rem, 2vw, 1.5rem);*/
/*}*/

/*!* Адаптивные стили для мобильных устройств *!*/
/*@media (max-width: 768px) {*/
/*    .rounded-container, .full-width-container {*/
/*        padding: 15px;*/
/*    }*/
/*}*/

/* Стили для заголовков графиков */
h2 {
    font-size: clamp(1.2rem, 3vw, 2rem);
    color: #2c3e50;
    margin-bottom: 15px; /* Отступ заголовков внутри карточек */
}

/* Стили для кнопок */
button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

/* Стили для Select */
select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #d1d1d1;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s ease;
}

select:hover {
    border-color: #007bff;
}

/* pages/Metrics.css */
.metrics-page-container {
    display: flex;
}

.content {
    padding: 20px;
    width: 100%;
}

/*.full-width-container {*/
/*    background-color: black;*/
/*    padding: 20px;*/
/*    border-radius: 8px;*/
/*    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);*/
/*    flex: 1;*/
/*    margin: 10px;*/
/*}*/

.rounded-container {
    background-color: black;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    flex: 1;
}

