
.sign-in-button{
    width: 100%;
    padding: 15px;
    border-radius: 8px;
    background-color: rgba(23, 71, 153, 1);
    border: 2px solid rgba(37, 113, 245, 1);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s;
    margin-top: 20px;
}