.header-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
    height: 72px;
    background-color: #151518;
    border-bottom: 1px solid #393E47;
    box-sizing: border-box;
    position: fixed;
    left: 0;
    z-index: 1000;
    top: 0;
    flex-wrap: wrap;
}

.header-container {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding-left: 60px;
    max-width: 1536px;
}

.logo {
    font-weight: bold;
    font-size: 16px;
    font-family: 'YourFontFamily', sans-serif;
    color: #F2F2F2;
    width: 103px;
    height: 20px;
    align-items: center;
}


.navigation {
    display: flex;
    width: 143px;
    height: 40px;
    gap: 20px;
    align-items: center;
}

.nav-link {
    text-decoration: none;
    color: #A9A9A9;
    font-family: Paloseco, sans-serif;
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.nav-link.active {
    background-color: #2A2A30;
    color: white;
}

.nav-link:hover {
    background-color: white;
    color: black;
}

.new-item {
    position: relative;
}

.new-item::after {
    content: 'New';
    position: absolute;
    top: -5px;
    right: -25px;
    background-color: #5090FF;
    color: #ffffff;
    font-size: 10px;
    padding: 2px 5px;
    border-radius: 9px;
}

.user-actions {
    display: flex;
    align-items: center;
    gap: 15px;
}

.premium-button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.theme-toggle {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
}

.user-avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
        height: auto;
    }

    .navigation {
        justify-content: center;
        margin-top: 10px;
    }
}
