html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  overflow-x: hidden; /* Отключаем горизонтальную прокрутку */
  overflow-y: scroll; /* Оставляем вертикальную прокрутку */
}

/* Скрываем вертикальную полосу прокрутки для WebKit-браузеров (Chrome, Safari) */
html::-webkit-scrollbar {
  display: none;
}

/* Для всех браузеров, включая Firefox */
html {
  scrollbar-width: none; /* Скрываем скролл для Firefox */
}

/* Стиль для всего приложения */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: black;
}

/* Основной контент */
main {
  flex: 1;
  margin-top: 60px;
  padding: 20px 20px 0 20px;
  box-sizing: border-box;
  background-color: black;
}

/* Футер */
.footer {
  position: relative;
  left: 0;
  width: 100%;
  padding: 10px 20px;
  background-color: #151518;
  border-top: 1px solid #393E47;
  z-index: 1000;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.footer.visible {
  opacity: 1;
}

.footer.hidden {
  opacity: 0;
}

/* Стили для текста футера */
.footer-text, .footer-links {
  color: #fff;
  text-align: center;
}

.footer-links a {
  color: #9CA3AF;
  text-decoration: none;
  margin: 0 15px;
}

.footer-links a:hover {
  text-decoration: underline;
}
