html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: black; /* Фоновый цвет для всей страницы */
  overflow-x: hidden; /* Отключаем горизонтальный скроллинг */
  overflow-y: auto; /* Включаем вертикальный скроллинг */
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Полное покрытие экрана */
  background-color: black; /* Фон для всего приложения */
}

main {
  flex: 1;
  margin-top: 60px; /* Отступ сверху для хедера */
  /*margin-bottom: 40px; !* Отступ снизу для футера *!*/
  padding: 20px 20px 0 20px;
  box-sizing: border-box;
  background-color: black; /* Убедимся, что фон у основного контента черный */
}

.footer {
  position: relative; /* Relative чтобы не перекрывать контент */
  left: 0;
  width: 100%;
  padding: 10px 20px;
  background-color: #151518;
  border-top: 1px solid #393E47;
  z-index: 1000;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.footer.visible {
  opacity: 1; /* Показываем футер */
}

.footer.hidden {
  opacity: 0; /* Скрываем футер */
}

.footer-text, .footer-links {
  color: #fff;
  text-align: center;
}

.footer-links a {
  color: #9CA3AF;
  text-decoration: none;
  margin: 0 15px;
}

.footer-links a:hover {
  text-decoration: underline;
}
