@font-face {
	font-family: 'Paloseco';
	src: url('./fonts/Paloseco-Medium.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Paloseco';
	src: url('./fonts/Paloseco-Medium.ttf') format('truetype'), url('./fonts/Paloseco-Medium.woff2') format('woff2'),
		url('./fonts/Paloseco-Medium.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

.react-tooltip {
	z-index: 9999;
}

:root {
	font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
	width: 100%;
	background-color: black;
	overflow: hidden;	
	position: relative;
	font-family: 'Paloseco', Arial, sans-serif;
}

::-webkit-scrollbar {
	width: 0;
}

a {
	color: #646cff;
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;
	outline: none;
}

a:active,
a:focus {
	outline: none;
	text-decoration: none;
}

button {
	border: none;
	background: none;
	cursor: pointer;
	font-family: inherit;
	color: inherit;
	padding: 0;
	margin: 0;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;
	outline: none;
}

button:active,
button:focus {
	outline: none;
	-webkit-tap-highlight-color: transparent;
}

button:focus {
	outline: none;
}

div {
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;
	outline: none;
}

div:active,
div:focus {
	outline: none;
	-webkit-tap-highlight-color: transparent;
}

input::placeholder,
textarea::placeholder,
select::placeholder {
	font-family: 'Paloseco', Arial, sans-serif;
}
